body
{
	background: url("../images/background.jpg") no-repeat top right;
	margin: 0px;
	width: 100%;
}

img
{
	border-width:0;
}

.footer
{
	clear: both;
	background-color: aqua;
	opacity: 0.75;
	text-align: center;
	padding: 10px;
}

h1
{
	color: gray;
	text-decoration: underline;
	margin: 20px;
}

.log-reg
{
	background-color: red;
	opacity: 0.75;
	padding: 10px;
	display: table;
	width: 100%;
}

.content
{
	background-color: red;
	opacity: 0.75;
	padding: 10px;
	margin-left: 170px;
}

.logo
{
	margin: 10px;
	float: left;
}

.login-input
{
	width: 30px;
	padding: 5px;
}

.reg-container
{
	display: table-row;
}

.reg-input
{
	vertical-align: middle;
	width: 450px;
	padding: 10px;
	display: table-cell;
}

.result
{
	text-align: left;
	vertical-align: middle;
	display: table-cell;
}

.notes
{
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	margin-left: 10px;
}

.result img
{
	width: 20px;
	height: 20px;
}

a
{
	text-decoration: none;
	color: gray;
}

.help
{
	background-color: yellow;
	padding: 10px;
	float: right;
	margin: 110px 50px 0px 0px;
	height: 25px;
}

#avatar
{

}

.panel {
	float: left;
	width: 150px;
	background-color: blue;
	text-align: center;
	padding: 10px;
}

.menu {
	clear: both;
	background-color: green;
	padding: 10px;
}

.menu a
{
	padding: 10px;
}

.menu_logout
{
	float: right;
}

.loading
{
	text-align: center;
}

.percent_box
{
	width: 100px;
	border: 1px solid black;
	background: white;
	height: 10px;
	display: block;
	margin-left: 25px;
}

.box_percent
{
	height: 100%;
	display: block;
	overflow: visible;
	font-size:60%
}

#experience .percent_box
{
	height: 5px;
}

#experience .box_percent
{
	background: green;
}

#selector
{
	text-align: center;
}

#pass_strenght .percent_box
{
	height: 5px;
}

#pass_strenght .box_percent
{
	background: green;
}

#lang_bar
{
	background-color: blue;
	padding: 10px;
	float: right;
	/*margin: 110px 50px 0px 0px;*/
}

#lang_bar a
{
	margin: 5px;
}

.market_table
{
	width: 100%;
	display: table;
}

.market_row
{
	width: 100%;
	display: table-row;
}

.market_cell
{
	display: table-cell;
}

.error
{
	color: blue;
}

.market-correct img
{
	width: 20px;
	height: 20px;
}
