body {
	background: url("../images/background.jpg") no-repeat top right;
	margin: 0px;
  width: 100%;
}
img {
	border-width:0;
}
.footer {
	clear: both;
	background-color: aqua;
	opacity: 0.75;
	text-align: center;
	padding: 10px;
}
h1 {
	color: gray;
	text-decoration: underline;
	margin: 20px;
}
.log_reg {
	background-color: red;
	opacity: 0.75;
	padding: 10px;
}
.content {
	background-color: red;
	opacity: 0.75;
	padding: 10px;
	margin-left: 175px;
	text-align: center;
}
.logo {
	margin:  10px;
	float: left;
}
.login-input {
  width: 30px;
}
a {
	text-decoration: none;
	color: gray;
}
.help {
	background-color: yellow;
	padding: 10px;
	float: right;
	margin: 110px 50px 0px 0px;
}
table.market_table {
	width: 100%;
}
#avatar {

}
#experience {
	width: 100px;
	border: 1px solid black;
	background: white;
	height: 5px;
	display: block;
	margin-left: 25px;
}
.exp_percent {
	height: 100%;
	background: green;
	display: block;
	overflow: visible;
}

.panel {
	float: left;
	width: 150px;
	background-color: blue;
	text-align: center;
	padding: 10px;
}
.menu {
	clear: both;
	background-color: green;
	padding: 10px;
}
.menu a {
	padding: 10px;
}
.menu_logout {
	float: right;
}