*redcar*
*geany*
*error_log*
.DS_Store
.settings/*
.project
*.sublime-*
node_modules
*.~lock.*
Cakefile

megapublik/cache/*
!megapublik/cache/index.html
!megapublik/cache/.htaccess

megapublik/logs/*
!megapublik/logs/index.html
!megapublik/logs/.htaccess